# Dependency directories
node_modules/
/frontend/node_modules/

# Next.js build output
/frontend/.next/

# Firebase Emulator data
/firebase/firestore_export/
*.log

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db