/* volleyball-stats-app/frontend/src/app/globals.css */
@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}